@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap);

body{
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png);
  text-align: center;
}

h2{
  color: #dd2d2de7;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 40px;
}

input{
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  
  -moz-border: 10px solid rgba(58, 52, 50, 0.8);
  -webkit-border: 10px solid rgba(58, 52, 50, 0.8);
  border: 10px solid rgba(58, 52, 50, 0.8);
  
  box-shadow: inset 0px 0px 1px black;
  
  background-color: #f0f0f0;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  padding: 10px;
  height: 30px;
  width: 500px
}

input::-webkit-input-placeholder{
  color: #696969;
  font-size: 14px;
}
input:-moz-placeholder {
  color: #696969;
  font-size: 14px;
}
input:-ms-input-placeholder {
  color: #696969;
  font-size: 14px;
}


