<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>MYTUBE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/download.css" />
</head>
<body>
<div id="doc" class="yui-t1">
  <div id="hd">
   <h1>다운로드중....</h1>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-gc">
          <div class="yui-u first">
            <div class="content">썸네일 및 다운로드 파일 양식<p>URL:<%=id%></p><p>파일양식:<%=ver%></p></div>
            <span class="inline"><img src="<%=photo%>" alt="썸네일" ></span>
          </div>
          
          <div class="yui-u">
            <div class="content">제작자:류민우,김태윤<p><h1><a href="/">홈으로</a></h1></p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <div id="secondary">정보 <p>제목</p><p><%=title%> </p></div>
    </div>
  </div>
  <div id="ft">
    <div id="footer"><strong>음원 유포는 불법입니다!</strong>!</div>
  </div>
</div>
</body>
</html>
